@using Web_BanHang.Models;
@model Web_BanHang.Models.Invoice
@{
    ViewBag.Title = "Checkout";
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Thanh toán</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Checkout -->
<section class="shop checkout section">
    @using (Html.BeginForm("AddToInvoice", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="checkout-form">
                        <h2>Thanh toán giỏ hàng của bạn tại đây</h2>
                        <p>Hãy điền địa chỉ giao hàng của bạn</p>
                        <!-- Form -->
                        <form class="form" method="post" action="#">
                            <div class="row">


                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Địa chỉ giao hàng</label>
                                        @*<input type="text" name="address" placeholder="" required="required">*@
                                        @Html.EditorFor(model => model.customerAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.customerAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Ship Date<span>*</span></label>
                                            <input type="date" name="ship_date" placeholder="" required="required">
                                        </div>
                                    </div>*@



                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="order-details">
                        <!-- Order Widget -->
                        <div class="single-widget">
                            <h2>TỔNG TIỀN</h2>
                            <div class="content">
                                <ul>
                                    @if (Session["cart"] != null && Session["combo"] != null)
                                    {
                                        <li>
                                            Tạm tính<span>
                                                @{
                                                    List<Item> cart = (List<Item>)Session["cart"];
                                                    var total1 = cart.Sum(item => item.Product[0].Price * item.Quantity);
                                                    List<ItemCombo> combo = (List<ItemCombo>)Session["combo"];
                                                    var total2 = combo.Sum(item => item.Combo[0].totalMoney * item.Quantity);
                                                    var total = total1 + total2;
                                                }

                                                @String.Format("{0:0,0} đ", @total)
                                            </span>
                                        </li>
                                    }
                                    else if (Session["cart"] != null)
                                    {
                                        <li>
                                            Tạm tính<span>
                                                @{
                                                    List<Item> cart = (List<Item>)Session["cart"];
                                                    var total1 = cart.Sum(item => item.Product[0].Price * item.Quantity);

                                                    var total = total1;
                                                }

                                                @String.Format("{0:0,0} đ", @total)
                                            </span>
                                        </li>

                                    }
                                    else if (Session["cart"] != null)
                                    {
                                        <li>
                                            Tạm tính<span>
                                                @{
                                                    List<ItemCombo> combo = (List<ItemCombo>)Session["combo"];
                                                    var total2 = combo.Sum(item => item.Combo[0].totalMoney * item.Quantity);

                                                    var total = total2;
                                                }

                                                @String.Format("{0:0,0} đ", @total)
                                            </span>
                                        </li>

                                    }
                                    else
                                    {
                                        <li>
                                           Tạm tính<span>
                                                0
                                            </span>
                                        </li>
                                    }

                                    @*<li>(+) Shipping<span>$10.00</span></li>*@
                                    @if (Session["cart"] != null && Session["combo"] != null)
                                    {
                                        <li class="last">
                                            Tổng tiền<span>
                                                @{
                                                    List<Item> cart = (List<Item>)Session["cart"];
                                                    var total1 = cart.Sum(item => item.Product[0].Price * item.Quantity);
                                                    List<ItemCombo> combo = (List<ItemCombo>)Session["combo"];
                                                    var total2 = combo.Sum(item => item.Combo[0].totalMoney * item.Quantity);
                                                    var total = total1 + total2;
                                                }

                                                @String.Format("{0:0,0} đ", @total)
                                            </span>
                                        </li>
                                    }
                                    else if (Session["cart"] != null)
                                    {
                                        <li class="last">
                                            Tổng tiền<span>
                                                @{
                                                    List<Item> cart = (List<Item>)Session["cart"];
                                                    var total1 = cart.Sum(item => item.Product[0].Price * item.Quantity);

                                                    var total = total1;
                                                }

                                                @String.Format("{0:0,0} đ", @total)
                                            </span>
                                        </li>

                                    }
                                    else if (Session["cart"] != null)
                                    {
                                        <li class="last">
                                            Tổng tiền<span>
                                                @{
                                                    List<ItemCombo> combo = (List<ItemCombo>)Session["combo"];
                                                    var total2 = combo.Sum(item => item.Combo[0].totalMoney * item.Quantity);

                                                    var total = total2;
                                                }

                                                @String.Format("{0:0,0} đ", @total)
                                            </span>
                                        </li>

                                    }
                                    else
                                    {
                                        <li class="last">
                                            Tổng tiền<span>
                                                0
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!--/ End Order Widget -->
                        <!-- Order Widget -->
                        @*<div class="single-widget">
                                <h2>Payments</h2>
                                <div class="content">
                                    <div class="checkbox">
                                        <label class="checkbox-inline" for="1"><input name="updates" id="1" type="checkbox"> Check Payments</label>
                                        <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Cash On Delivery</label>
                                        <label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox"> PayPal</label>
                                    </div>
                                </div>
                            </div>*@
                        <!--/ End Order Widget -->
                        <!-- Payment Method Widget -->
                        @*<div class="single-widget payement">
                                <div class="content">
                                    <img src="images\payment-method.png" alt="#">
                                </div>
                            </div>*@
                        <!--/ End Payment Method Widget -->
                        <!-- Button Widget -->
                        <div class="single-widget get-button">
                            <div class="content">
                                <div class="button">
                                    <button class="btn" type="submit">Hoàn tất thanh toán</button>
                                   
                                </div>
                            </div>
                        </div>
                        <!--/ End Button Widget -->
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<!--/ End Checkout -->