@model Web_BanHang.Models.Combo
@{
    ViewBag.Title = "Detail";
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="#">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="#">Chi tiết combo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Blog Single -->
<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            <div class="image">
                                <img src=@Url.Content("/Content/images/products/" + @Html.DisplayFor(model => model.Image_Combo)) alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="main-sidebar shopping-cart">
                    <h5 class="pb-4">@Html.DisplayFor(model => model.Combo_Name)</h5>
                    <p class="pb-4">@Html.DisplayFor(model => model.totalMoney)</p>
                    <p class="pb-4"></p>
                    @using (Html.BeginForm("BuyCombo", "Home", new { id = @Html.DisplayFor(model => model.ID) }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <button type="submit" class="btn col-lg-6 col-6">Thêm vào giỏ hàng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Single -->