@model Web_BanHang.Models.InvoiceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combo.Combo_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combo.Combo_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.Invoice_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.Invoice_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Product_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
